html,body,p,div,form,input,span,:focus,a {
	margin:0;
	padding:0;
	vertical-align:baseline;
	outline:0;
	text-align:left;
	border:0;
	color:#333;
	font-family:monospace;
	font-size:12px;
	line-height:14px;
	text-decoration:none;
	cursor:default;
}
a {color:navy}
a:hover {color:darkgreen;text-decoration:line-through;cursor:pointer}
body {margin:10px;height:100%;padding-bottom:30px}
body,#f,#i {width:800px}
#echo {color:#666}
p {display:block}